popsize = 20
seed = 0
classTestFolder = bin/
workingDir = /Users/clegoues/research/GenProg4Java/SimpleExample/
outputDir = /Users/clegoues/research/GenProg4Java/SimpleExample/tmp/
libs = /Applications/eclipse/GenProg4Java//lib/junit-4.10.jar:/Applications/eclipse/GenProg4Java//lib/junittestrunner.jar
sanity = yes
regenPaths
sourceDir = src/
positiveTests = /Users/clegoues/research/GenProg4Java/SimpleExample/pos.tests
negativeTests = /Users/clegoues/research/GenProg4Java/SimpleExample/neg.tests
jacocoPath = /Applications/eclipse/GenProg4Java//lib/jacocoagent.jar
classSourceFolder = bin/
targetClassName = packageSimpleExample.SimpleExample
