javaVM = /usr/bin/java
popsize = 20
seed = 0
classTestFolder = bin/
workingDir = /home/lvyiwei1/genprog4java-branch/genprog4java/tests/OffByOne/
outputDir = /home/lvyiwei1/genprog4java-branch/genprog4java/tests/OffByOne/tmp/
libs = /home/lvyiwei1/genprog4java-branch/genprog4java//lib/junit-4.12.jar:/home/lvyiwei1/genprog4java-branch/genprog4java//lib/junittestrunner.jar:/home/lvyiwei1/genprog4java-branch/genprog4java//lib/hamcrest-core-1.3.jar:./bin/
sanity = yes
regenPaths
sourceDir = src/
positiveTests = /home/lvyiwei1/genprog4java-branch/genprog4java/tests/OffByOne/pos.tests
negativeTests = /home/lvyiwei1/genprog4java-branch/genprog4java/tests/OffByOne/neg.tests
jacocoPath = /home/lvyiwei1/genprog4java-branch/genprog4java//lib/jacocoagent.jar
classSourceFolder = bin/
targetClassName = packageOffByOne.OffByOne
