javaVM = /usr/bin/java
popsize = 20
seed = 0
classTestFolder = bin/
workingDir = /home/lvyiwei1/genprog4java-branch/genprog4java/tests/SimpleExample/
outputDir = /home/lvyiwei1/genprog4java-branch/genprog4java/tests/SimpleExample/tmp/
libs = ../..//lib/junit-4.12.jar:../..//lib/junittestrunner.jar:../..//lib/hamcrest-core-1.3.jar:/home/lvyiwei1/genprog4java-branch/genprog4java/tests/SimpleExample/bin/
sanity = yes
regenPaths
sourceDir = src/
positiveTests = /home/lvyiwei1/genprog4java-branch/genprog4java/tests/SimpleExample/pos.tests
negativeTests = /home/lvyiwei1/genprog4java-branch/genprog4java/tests/SimpleExample/neg.tests
jacocoPath = ../..//lib/jacocoagent.jar
classSourceFolder = bin/
targetClassName = packageSimpleExample.SimpleExample
