javaVM = /usr/bin/java
popsize = 20
seed = 0
classTestFolder = bin/
workingDir = /Applications/eclipse/workspace/GenProg4Java/tests/SimpleExample/
outputDir = /Applications/eclipse/workspace/GenProg4Java/tests/SimpleExample/tmp/
libs = /Applications/eclipse/workspace/GenProg4Java//lib/junit-4.10.jar:/Applications/eclipse/workspace/GenProg4Java//lib/junittestrunner.jar
sanity = yes
regenPaths
sourceDir = src/
positiveTests = /Applications/eclipse/workspace/GenProg4Java/tests/SimpleExample/pos.tests
negativeTests = /Applications/eclipse/workspace/GenProg4Java/tests/SimpleExample/neg.tests
jacocoPath = /Applications/eclipse/workspace/GenProg4Java//lib/jacocoagent.jar
classSourceFolder = bin/
targetClassName = packageSimpleExample.SimpleExample
