javaVM = /usr/bin/java
popsize = 20
seed = 0
classTestFolder = bin/
workingDir = /home/lvyiwei1/genprog4java-branch/genprog4java/tests/SimpleExample/
outputDir = /home/lvyiwei1/genprog4java-branch/genprog4java/tests/SimpleExample/tmp/
libs = /home/lvyiwei1/genprog4java-branch/genprog4java//lib/junit-4.12.jar:/home/lvyiwei1/genprog4java-branch/genprog4java//lib/junittestrunner.jar:/home/lvyiwei1/genprog4java-branch/genprog4java//lib/hamcrest-core-1.3.jar:/home/lvyiwei1/genprog4java-branch/genprog4java/tests/SimpleExample/bin/
sanity = yes
regenPaths
sourceDir = src/
positiveTests = /home/lvyiwei1/genprog4java-branch/genprog4java/tests/SimpleExample/pos.tests
negativeTests = /home/lvyiwei1/genprog4java-branch/genprog4java/tests/SimpleExample/neg.tests
jacocoPath = /home/lvyiwei1/genprog4java-branch/genprog4java//lib/jacocoagent.jar
classSourceFolder = bin/
targetClassName = packageSimpleExample.SimpleExample
fakeJunitDir = /home/lvyiwei1/fake-junit
GP4J_HOME = /home/lvyiwei1/genprog4java-branch/genprog4java/
